body {
    margin: 0px;
    background: #F2F2F2;
}

@font-face {
    font-family: 'mifuente';
    src: url('../font/gothic-webfont.woff2') format('woff2'),
        url('../font/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mifuente';
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

li {
    list-style: none;
}

/*Estilo de navbar*/
.navbar {
    display: flex;
    align-content: center;
    padding: 10px;
    background-color: #220C40;
    color: #F2F2F2;
    align-items: center;
}

.nav-links a {
    color: #F2F2F2;
}

/* LOGO */
.logo {
    margin: 0px;
    float: left;
}

/*Cart*/
.img_cart{
    margin: 0px;
    padding: 0px;
    width: 24px;
    height: 24px;
}

/* NAVBAR MENU */
.menu {
    align-items: center;
    gap: 1em;
    font-size: 18px;
    margin-left: 10px;
}

.menu_right {
    margin-left: auto;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #F28444;
    transition: 0.5s ease;
}
.menu_right li:hover {
    background-color: #F28444;
    transition: 0.5s ease;
}

.menu li {
    padding: 5px 14px;
    float: left;
    border-radius: 5px;
}

.menu_right li {
    padding: 5px 14px;
    float: left;
    border-radius: 5px;
}


footer {
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: black;
  }
