body {
    margin: 0px;
    background: #F2F2F2;
}

@font-face {
    font-family: 'mifuente';
    src: url('../font/gothic-webfont.woff2') format('woff2'),
        url('../font/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fuentelogo';
    src: url('../font/stockard-personaluse-webfont.woff2') format('woff2'),
        url('../font/stockard-personaluse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mifuente';
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

li {
    list-style: none;
}

/*Estilo de navbar*/
.navbar {
    display: flex;
    align-content: center;
    padding: 10px;
    background-color: #220C40;
    color: #F2F2F2;
    align-items: center;
}

.nav-links a {
    color: #F2F2F2;
}

/* LOGO */
.logo {
    margin: 0px;
    float: left;
}
.logo a{
    min-width: fit-content;
    font-family: 'fuentelogo';
    font-size: 40px;
}

/*Cart*/
.img_cart{
    margin: 0px;
    padding: 0px;
    width: 24px;
    height: 24px;
}

/* NAVBAR MENU */
.menu {
    align-items: center;
    gap: 1em;
    font-size: 18px;
    margin-left: 10px;
}

.menu_right {
    margin-left: auto;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #F28444;
    transition: 0.5s ease;
}
.menu_right li:hover {
    background-color: #F28444;
    transition: 0.5s ease;
}

.menu li {
    padding: 5px 14px;
    float: left;
    border-radius: 5px;
}

.menu_right li {
    padding: 4px;
    float: left;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.menu_right .li_busqueda{
    float: left;
    border-radius: 5px;
}

.menu_right .li_busqueda:hover{
    border-radius: 5px;
    background: #220C40;
}
.menu_right .fondo_busqueda{
    background: white;
    border-radius: 20px;
    padding: 0px;
    display: flex;
    padding-left: 5px;
    align-items: center;
}
.menu_right .fondo_busqueda .textobusqueda{
    background: white;
    border:none;
    color: black;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none; 
    font-weight: bold;
    size: 20px;
}
/*FOOTER*/
footer {
    margin-top: 20px;
    min-height:100px;
    height: fit-content;
    background:#220C40;
    color:white;
    position:absolute;
    width:100%;
    display: flex;
    justify-content: space-between;
}

footer .logo_footer{
    display: flex;
    align-items:center;
    min-width: fit-content;
}


footer .logo_footer img{
    width: 48px;
    height: 48px;
}

footer .div_vision{
    display:flow-root;
    float: center;
    padding: 10px;
}

footer div{/*Div siguenos*/
    padding:10px;
    float: left;
    justify-content: center;
    align-items: center;
}

footer .div_redes{
    display: flex;
}
footer .div_redes img{
    margin: 5px;
    width: 24px;
    height: 24px;
}

footer .div_vision a:hover{
    color: #F28444;
}
